[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/SPIRV-Reflect"]
	path = libs/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "libs/glslang"]
	path = libs/glslang
	url = https://github.com/KhronosGroup/glslang
